html, body {
    margin: 0;
    padding: 0;
 }
  
 .container {
    display: flex;
    flex-wrap: wrap;
 }
  
 .box {
    min-height: 150px;
    width: 100%;
 }
  
 /*untuk layar device berukuran kecil*/
 @media screen and (min-width: 450px) {
    .light_blue, .green {
        width: 50%
    }
 }
  
 /*untuk layar device berukuran sedang*/
 @media screen and (min-width: 550px) {
    .red {
        width: 33%;
    }
  
    .orange {
        width: 67%;
    }
 }
  
 /*untuk layar device berukuran besar*/
 @media screen and (min-width: 800px) {
    .container {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
 }